.logo-img{
    position: absolute;
    top: 18px;
    left: 5px;
    width: 20%;
    border-radius: 16px;
}
#jitsiMeeting-1{
    height: 99.8vh;
}
/* .watermark{
    display: none !important;
    visibility: hidden !important; 
} 
.leftwatermark{
    display: none !important;
    visibility: hidden !important; 

    /* background-image: url('../../assets/inno.png'); */
/* } */ 
.watermark{
    display: none !important;
}
.leftwatermark{
    width: 1px;
}
