.modal {
    width: 40%;
    z-index: 9999;
    animation-name: slideL;
    animation-duration: 300ms;
  }
  
  .modal-dialog {
    width: 100%;
    height: 100%;
    position: relative;
    max-height: 100vh;
    text-align: left;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.5s;
    background: #F5F5F7;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    color: #1E1E1E;
    font-family: var(--font--main);
  }

  .inp-chat{
    background-color: #e1dfdf;
    border: 1px solid #919191;
    width: 80%;
    min-height: 20px;
    padding: 6px;
    margin-right: 5px;
  }
  .imp-block{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #e1dfdf;
  }
  .member{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 20px;
  }
  .memb-panel{
    display: flex;
    align-items: center;
  }
  .admin-member{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
  }
  .btn-admin-member{
    padding: 5px;
    border-radius: 20px;
    border: 1px solid gray;
  }
  .chat-title{
    display: flex;
    font-size: 18px;
    font-weight: 700;
    margin: 20px 0px;
    padding-left: 20px;
  }
  .chat-title img{
    margin-right: 20px;
  }
  .chat-inp-panel{
    border-top: 2px solid #91919185;
    padding: 15px 20px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  .chat-inp{
    border: none;
    background-color: #F5F5F7;
    width: 100%;
    min-height: 70px;
    margin-right: 5px;
    /* color: #ACACAC; */
    font-weight: 400;
    font-size: 14px;
    resize: none;
    outline:none
  }
  .chat-msg{
    height: 76vh;
    padding-left: 20px;
    overflow: auto;
  }

.chat-msg::-webkit-scrollbar {
  width: 7px;
  background-color: #F5F5F7;
}

.chat-msg::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #c1bebe;
}

.chat-msg::-webkit-scrollbar-track {
  border-radius: 10px;
}
  .chat-inp::-webkit-scrollbar {
    width: 5px;
  }
   
  .chat-inp::-webkit-scrollbar-track {
    background-color:none;
    border-radius: 10px;
  }
   
  .chat-inp::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color:#D9D9D9;
  }
  .message{
    display: flex;
  }
  .dino-img{
    display: flex;
    align-items: center;
    width: 40px;
    height: 40px;
    justify-content: center;
    border: 1px solid #246CE2;
    border-radius: 50%;
  }
  .msg-panel{
    display: flex;
    flex-direction: column;
    width: 72%;
    margin-left: 6px;
  }
  .title-msg{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #919191;
    font-weight: 400;
  }
  .user-msg{
    background-color: #1280ff3b;
    margin: 5px 0px;
    padding: 7px;
    border-radius: 20px;
    width: fit-content;
    word-wrap: break-word;
  }
  .msg-text{
    background-color: #3131313b;
    margin: 5px 0px;
    padding: 7px;
    border-radius: 20px;
    width: fit-content;
    word-wrap: break-word;
  }
  .member-user{
    padding-left: 20px;
    display: flex;
    align-items: center;
  }
  .none-option-members{
    display: none;
  }
  .option-members{
    background-color: #1e1e1e2c;
    background-color: #514e4ebf;
    position: absolute;
    right: 20px;
    padding: 5px;
    color: white;
    font-weight: 300;

  }

@keyframes slideL {
    from {
      opacity: 0;
      width: 0%;
    }
    to {
      opacity: 1;
      width: 40%;
    }
  }