.video-panel-upper video{
    height: 130px;
    background-color: #97979759;
    border-radius: 18px;
}
.room-all{
    background-color: #1A1A1A;
    min-height: 96vh;
    padding: 15px;
    width: 100%;
}
.room{
    display: flex;
}
.sharing-img{
    margin: 0px 10px;
}
.chat-img{
    margin-right: 10px;
}
.btn-exit{
    background: #B72525;
    border-radius: 92px;
    color: #ffff;
    border: none;
    font-size: 16px;
    padding: 9px 3%;
}
.my-name-icon{
    background-color: #afafafa6;
    padding: 10px 27px;
    font-size: 43px;
    width: 21%;
    position: relative;
    bottom: 53px;
    right: 42%;
    border-radius: 50%;
}
.panel-optional-all{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.panel-optional-all img,.btn-exit{
    cursor: pointer;
}
.my-video-btn{
    margin-right: 10px;
}
.my-name{
    position: relative;
    right: 82%;
    bottom: 15px;
    color: white;
}
.icon-mic{
    margin-right: 5px;
}
.video-panel-upper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.display-video{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0px;
    /* background-color: #97979759; */
    border-radius: 18px;
}
.display-video video{
    height: 68vh;
    width: 100%;
    background-color: rgba(180, 182, 183, 0.41);
}
.video-panel{
    padding: 0px 13%;
}
.hand-up{
    position: absolute;
    top: auto;
    left: 20px;
    bottom: 100px;
    right: auto;
    background-color: gray;
    color: white;
    padding: 12px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;

        animation-duration: 10s;
        animation-fill-mode: both; 
        animation-name: showHand; 
}



@keyframes showHand {
    0% {               
        opacity: 0;
        transform: translate3d(0px, -100%, 0px);
    }
    20%,80% {
        opacity: 1;
        transform: none;
    }
    100% {
        opacity: 0;
        transform: translate3d(0px, 100%, 0px);
    }
}