
.accordion__section {
  display: flex;
  flex-direction: column;
}

.accordion {
  color: #444;
  cursor: pointer;
  padding:5px 15px;
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  transition: background-color 0.6s ease;
}

.accordion__title {
  font-weight: 700;
  font-size: 17px;
  margin-left: 15px;
}

.accordion__icon {
  margin-left: auto;
  transition: transform 0.6s ease;
}

.rotate {
  transform: rotate(90deg);
}

.accordion__content {
  height: 100%;
  overflow: hidden;
  transition: max-height 0.6s ease;
  background-color: #e1dfdf;
  max-height: 39px;
  padding: 20px 0px 0px 10%;
}

.accordion__text {
  font-weight: 400;
  font-size: 14px;
  padding: 18px;
}
