/* .lobby{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.connect-btn{
    background: #899bc2d6;
    padding: 10px;
    border: none;
    border-radius: 11px;
    margin-top: 10px;
}
.connect-btn:hover{
    background: #b3c0ddd6;
}
#email{
    padding: 10px;
    border: none;
    background-color: #f0ffff00;
    border-bottom: 1px solid white;
    color: white;
} */
.lobby{
    display: flex;
    flex-direction: column;
}
.inp-lobby{
    border: 2px solid #2D87EF;
    border-radius: 92px;
    padding: 15px 7%;
    margin-bottom: 25px;
}
.connect-btn{
    background: #2D87EF;
    border-radius: 92px;
    border: none;
    color: white;
    padding: 15px 7%;
    font-weight: 600;
}